<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <style>
        .d1,.d2,.d3{
        border:2px solid red;
        padding:2px;
        margin:auto;
        text-align:right;
        border-radius:10px;
        background-color:#aba6a6;
        color:white;
        }


    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ATS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/openings">Openings</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signout">SignOut</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
            <p>Sep 24 , 2022</p>
            <h1>My WorkSpace</h1>
        <br>
            <p>Java is a popular programming language. Java is used to develop mobile apps,
                web apps, desktop apps, games and much more.</p>
        <br>
            <div class="container first">
                <div class="row">
                    <div class="col-md-3 d1">
                        <h4>24</h4>
                        <p>Total Openings</p>
                    </div>
                    <div class="col-md-3 d1">
                        <h4>20</h4>
                        <p>Candidates</p>
                    </div>
                    <div class="col-md-3 d1">
                        <h4>16</h4>
                        <p>Pipelined</p>
                    </div>
                </div>

            </div>

            <div class="container first">
                <div class="row">
                    <div class="col-md-6 d1">
                        <h4>24</h4>
                        <p>Total Openings</p>
                    </div>
                    <div class="col-md-6 d2">
                        <h4>20</h4>
                        <p>Candidates</p>
                    </div>
                </div>

            </div>


    </div>
    <div class="col-md-3">

    </div>
</div>

</body>
</html>