<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ATS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/dashboard" style="margin-left:450px;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/openings">Openings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/candidates">Candidates</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pipeline">Pipeline</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/placement">Placements</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item" style="margin-left:425px;">
                    <a class="nav-link" href="/signout" >SignOut</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-0" style="background-color: #FDF8F5">

        </div>
        <div class="col-md-12" style="background-color: #E8CEBF">
            <h1 align="center">Pipeline</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Candidate Name</th>
            <th scope="col">Submitted Date</th>
            <th scope="col">Status</th>
            <th scope="col">Opening Title</th>
            <th scope="col">OpeningID</th>
            <th scope="col">Account Name</th>
            <th scope="col">Opening Post Date</th>
            <th scope="col">OpeningStatus</th>
            <th scope="col">Sourced From</th>
            <th scope="col">Mobile</th>
            <th scope="col">Qualification</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        {% for pipe in pipe %}
        <tbody>
        <tr>
            <th scope="row">{{op.id}}</th>
            <td>{{op.CandidateName}}</td>
            <td>{{op.SubmittedDate}}</td>
            <td>{{op.Status}}</td>
            <td>{{op.OpeningTitle}}</td>
            <td>{{op.OpeningID}}</td>
            <td>{{op.AccountName}}</td>
            <td>{{op.OpeningPostDate}}</td>
            <td>{{op.OpeningStatus}}</td>
            <td>{{op.SourcedFrom}}</td>
            <td>{{op.Mobile}}</td>
            <td>{{op.Qualification}}</td>
            <td>{{op.Email}}</td>
        </tr>
        </tbody>
        {% endfor %}
    </table>


        </div>

        <div class="col-md-0" style="background-color: #FDF8F5">

        </div>
    </div>
</div>
</body>
</html>
